version: "3.8"
services:
  web:
    build: .
    ports:
      - "3000:3000"
    restart: unless-stopped
    environment:
      - PORT=3000
      - NODE_ENV=production
      - DATABASE_URL=postgres://$DB_USERNAME:$DB_PASSWORD@$DB_HOST:$DB_PORT/$DB_DATABASE # change to your own variable
    depends_on:
      - postgres
  postgres:
    image: postgres:15.3-alpine3.18
    restart: unless-stopped
    environment:
      POSTGRES_USER: foodappuser
      POSTGRES_DB: food_app
      POSTGRES_PASSWORD: 1234
      PGDATA: /var/lib/postgresql/data
    volumes:
      - /var/lib/postgresql/data
      - ./sqls:/sqls
    ports:
      - "5432"
